#container{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    height: 195px;
    width:195px;
}

#square{
    flex-basis: auto;
    border-color: black;
    border-width: 1px;
    border-style:solid;
    width:25px;
    height:25px;
    min-height: 1px;
}